
<div class="container">
    <h1>Eat Da Burger!</h1>
    <img class="mx-auto margin justify-center" src="./assets/Burger.png" width="300px" height="300px" alt="winkBurger"></img>
    <br>
    <!--List of available burgers-->
    <div class="row">
        <div class="col-sm-6" id="availableBurgers">
            <ul>
                {{#each burgers}}
                {{#unless this.devoured}}
                {{>burgers/burger-block devoured = false}}
                <li>
                    <li>{{this.id}} {{this.burger_name}}</li>
                </li>
                {{/unless}}
                {{/each}}
            </ul>
        </div>

        <!--Devoured Burgers-->
        <div class="col-sm-6" id="devouredBurgers">
            <ul>
                {{#each burgers}}
                {{#if this.devoured}}
                {{>burgers/burger-block devoured = true}}
                <ul>
                    <li>{{this.id}} {{this.burger_name}}</li>
                </ul>
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>


    <form class="create-form" action="/" method="POST">
        <textarea type="text" id="burgerNameInput" name="burger-name"></textarea>
        <button id="submit" type="submit">Submit</button>
    </form>

    <p>Enter a burger you would like to eat. Click the "Submit button"</p>


</div>